# Ex - GroupBy

In [140]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [142]:
drinks = pd.read_csv("drinks.csv", keep_default_na=False)
df=drinks.dropna()
df.isna().sum()

country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
continent                       0
dtype: int64

### Step 4. Which continent drinks more beer on average?

In [146]:
tmp=drinks.groupby('continent')['beer_servings'].mean()
tmp[tmp==tmp.max()]

continent
EU    193.777778
Name: beer_servings, dtype: float64

In [148]:

drinks[drinks['beer_servings']==376]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
117,Namibia,376,3,1,6.8,AF

### Step 5. For each continent print the statistics for wine consumption.

In [150]:
mset= set(drinks['continent'])
for i in mset:
    print(i)

NA
AF
OC
EU
SA
AS

In [129]:

for i in mset:
    if type(i)==str:
        
        tmpdf=drinks[drinks['continent']==i]['wine_servings']
        print(str(i))
        print(tmpdf.describe())
        print("ENDD--------------------------")

AF
count     53.000000
mean      16.264151
std       38.846419
min        0.000000
25%        1.000000
50%        2.000000
75%       13.000000
max      233.000000
Name: wine_servings, dtype: float64
ENDD--------------------------
OC
count     16.00000
mean      35.62500
std       64.55579
min        0.00000
25%        1.00000
50%        8.50000
75%       23.25000
max      212.00000
Name: wine_servings, dtype: float64
ENDD--------------------------
EU
count     45.000000
mean     142.222222
std       97.421738
min        0.000000
25%       59.000000
50%      128.000000
75%      195.000000
max      370.000000
Name: wine_servings, dtype: float64
ENDD--------------------------
SA
count     12.000000
mean      62.416667
std       88.620189
min        1.000000
25%        3.000000
50%       12.000000
75%       98.500000
max      221.000000
Name: wine_servings, dtype: float64
ENDD--------------------------
AS
count     44.000000
mean       9.068182
std       21.667034
min        0.000000
25%        0.000000
50%        1.000000
75%        8.000000
max      123.000000
Name: wine_servings, dtype: float64
ENDD--------------------------

### Step 6. Print the mean alcohol consumption per continent for every column

In [152]:
drinks.groupby('continent')['total_litres_of_pure_alcohol'].mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
NA    5.995652
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

In [154]:
for i in mset: 
    if(type(i)==str):
        tmpdf=drinks[drinks['continent']==i]
        print(str(i))
        print(tmpdf.describe()['total_litres_of_pure_alcohol'].mean())
        print("ENDD--------------------------")

NA
7.888125604158846
ENDD--------------------------
AF
9.431888003786138
ENDD--------------------------
OC
5.253367190345898
ENDD--------------------------
EU
12.359529138818676
ENDD--------------------------
SA
6.426812432072152
ENDD--------------------------
AS
8.020711668979855
ENDD--------------------------

### Step 7. Print the median alcohol consumption per continent for every column

In [69]:
import statistics

In [71]:
for i in mset: 
    if(type(i)==str):
        tmpdf=drinks[drinks['continent']==i]
        print(str(i))
        print(statistics.median(tmpdf['total_litres_of_pure_alcohol']))
        print("ENDD--------------------------")

AF
2.3
ENDD--------------------------
OC
1.75
ENDD--------------------------
EU
10.0
ENDD--------------------------
SA
6.85
ENDD--------------------------
AS
1.2
ENDD--------------------------

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [77]:
print(statistics.mean(drinks['spirit_servings']))
print(max(drinks['spirit_servings']))
print(min(drinks['spirit_servings']))

80.99481865284974
438
0